%ul
  %li
    = link_to "Back to Main App", main_app.root_path
  %li
    = link_to "Translations List", root_path
  %li
    = link_to "Manage Locales", locales_path
  %li
    - if session[:show_translation_link]
      = link_to "Hide Translation Links", show_translation_link_path(:setting => 'no')
    -else
      = link_to "Show Translation Links", show_translation_link_path(:setting => 'yes')