!!!
%html
  %head
    %title DynamicCopy
    = stylesheet_link_tag    "dynamic_copy/application", :media => "all"
    = javascript_include_tag "dynamic_copy/application"
    = csrf_meta_tags

  %body.dynamic_copy
    .nav
      = render 'layouts/dynamic_copy/navigation'

    -if flash[:notice]
      .notice
        = flash[:notice]

    #edit_translation

    #main_content
      = yield

